

h1{
    
    font-size: 40px;
    color: black;
    text-align: center;
}


h2{
    font-size: 30px;
    color:#000000;
    text-align: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#A52A2A;
    color: #ffffff;
    text-align: center;
}

p{
    text-align:center
}

table, th, td {
    border: 1px solid black;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}
